<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>shortening statistics for (<%= @link_id %>)</title>
	
</head>

<body id="info" onload="">
	your shorted link is <a href=<%="'#{@link}'"%>><%= @link %></a><br />
	
	we will provide stats for <%= @link_id %> here.
	<p></p>
	long link: <%= @long_link %>
	we have seen <%= @visitors.size %> to this shortened link
	<p></p>
	<%for visitor in @visitors %>
	   <%= visitor.time%> <p></p>
	<%end%>
	
</body>
</html>